

.login-module {
  overflow: hidden;
  width: 800px;
  height: 600px;
  background-image: url('https://drscdn.500px.org/photo/1443137/m%3D2048/536442f8345b73a030b3c9812c3499ad');
  background-size: cover;
  .verify-wrap {
    padding: 20px;
    width: 240px;
    margin: 180px auto 0px;
    background-color: white;
    .account-ipt,.password-ipt {
      display: block;
      background: transparent;
      height: 30px;
      line-height: 30px;
      color: rgb(255, 255, 255);
      text-align: center;
    }
    .password-wrap, .signin-wrap {
      margin-top: 20px;
    }

  }
}
