@import '../../scss/base.scss';

.file-list-wrap {
  .header {
    margin: 25px 25px 0;
    -webkit-app-region: drag;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
    color: $grey-font-color;
    .left-menu {
      font-size: 14px;
      float: left;
      li {
        float: left;
        padding:0 15px;
        border-radius: 15px;
        cursor: pointer;
        &.selected {
          color: #ffffff;
          background-color: $grey-font-color;
        }
      }
    }
    .right-menu {
      float: right;
      li {
        font-size: 20px;
        float: right;
        padding:0 15px;
        border-left: 1px solid #eaeeef;
        cursor: pointer;
        &:first-child {
          padding:0 0 0 15px;
        }
        &:last-child {
          border-left: 0;
        }
      }
    }
  }

  $file-width: 100px;
  .content {
    height: 500px;
    margin: 0 25px;
    .file-list {
      &:after {
        content:'';
        display: block;
        clear: both;
      }
      overflow:hidden;
      margin: -5px;
      &.detail-list {
        .file-wrap {
          position: relative;
          cursor: pointer;
          float: left;
          height: 30px;
          width: 100%;
          margin-top: 5px;
          line-height: 30px;
          font-size: 10px;
          &.music {
            .img-wrap {
              background-image: url("http://localhost:8080/img/clipping_music.png");
              background-size: cover;
              img {
                display: none;
              }
            }
          }
          .img-wrap {
            float: left;
            height: 20px;
            width: 20px;
            margin: 5px;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .mask {
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 0%;
            transition: all 0.1s;
            line-height: 30px;
            text-align: center;
            i {
              color: white;
              font-size: 16px;
            }
          }
          .name {
            float: left;
            width: 35%;
            overflow: hidden; /*自动隐藏文字*/
            text-overflow: ellipsis;/*文字隐藏后添加省略号*/
            white-space: nowrap;/*强制不换行*/
          }
          .date {
            float: left;
            width: 25%;
            overflow: hidden; /*自动隐藏文字*/
            text-overflow: ellipsis;/*文字隐藏后添加省略号*/
            white-space: nowrap;/*强制不换行*/
          }
          .size {
            float: left;
            width: 10%;
            overflow: hidden; /*自动隐藏文字*/
            text-overflow: ellipsis;/*文字隐藏后添加省略号*/
            white-space: nowrap;/*强制不换行*/
          }
          .type {
            float: left;
            width: 20%;
            overflow: hidden; /*自动隐藏文字*/
            text-overflow: ellipsis;/*文字隐藏后添加省略号*/
            white-space: nowrap;/*强制不换行*/
          }
          &.selected {
            .mask {
              height: 100%;
              background-color: rgba(0, 0, 0, .5);
            }
          }
        }
      }
      &.graph-list {
        .file-wrap {
          float: left;
          width: $file-width;
          height: $file-width;
          margin: 5px;
          position: relative;
          cursor: pointer;
          .mask {
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 0%;
            transition: all 0.1s;
            line-height: $file-width;
            text-align: center;
            i {
              color: white;
              font-size: 50px;
            }
          }
          &.selected {
            .mask {
              height: 100%;
              background-color: rgba(0, 0, 0, .5);
            }
          }

          &:hover {
            .mask {
              height: 100%;
              background-color: rgba(0, 0, 0, .5);
            }
          }

          .img-wrap {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }

          &.music {
            .img-wrap {
              background-image: url("http://localhost:8080/img/clipping_music.png");
              background-size: cover;
              img {
                display: none;
              }
            }
          }

          .name, .type, .size, .date {
            display: none;
          }
        }
      }
    }
  }
}
